.box1 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}
.row1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
}
.image2 {
    height: 463px;
    width: 154px;
    vertical-align: middle;
    border-style: none;
}

.img2 {
    width: 359px;
    height: 359px;
    border-radius: 15%;

}
.sosialelenker {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
}
.hvit {
    color: white;
}
.justify {
    display: contents;
    justify-content: space-around;
}
.space-between {
    display: contents;
}